<!DOCTYPE html>
<html>
  <head>
    <title>Zelda BOTW Equipment</title>
  </head>
  <body>
    {% if filter_type == "attack" %}
      <h1>Random Attack Equipment</h1>
      <p>Name: {{ equipment["name"] }}</p>
      <p>Attack: {{ equipment["attack"] }}</p>
    {% elif filter_type == "defense" %}
      <h1>Random Defense Equipment</h1>
      <p>Name: {{ equipment["name"] }}</p>
      <p>Defense: {{ equipment["defense"] }}</p>
    {% else %}
      <h1>No Equipment Selected</h1>
    {% endif %}
  </body>
</html>