<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zelda:BoTW Equipment</title>
</head>
<body>
    <h2>Filter Equipment</h2>
    <form action="/equipment" method="POST">
        <button type="submit" name="filter" value="attack">Show Random Weapon</button></a>
        <button type="submit" name="filter" value="defense">Show Random Shield</button></a>
    </form>

    <h2>Search Equipment</h2>
    <form action="/search_results" method="GET">
        <input type="text" name="keyword" placeholder="Enter Name of Equipment">
        <button type="submit">Search</button>
    </form>
</body>
</html>
